$color-ligth: #fff
$first-color: #E28FFF
$second-color: #FF8719
$third-color: #02DAFF
$fourth-color: #510000
$page-width: 1440px
$text_larger: 56px
$text_medium: 48px
$text_medium2: 36px
$text_small: 24px
$text-paragraph: 16px