@use 'variables'
@import "container"
@import "button"
@import "paragraph"

.adoption
    // background-color: green
    width: 100%

    &__container
        // background-color: gray
        @include container
        // padding: 100px 20px
        display: flex
        // gap: 20px
        flex-direction: column
        align-items: center
        gap: 30px
        // padding: 50px 60px
    &__header
        // background-color: tomato
        width: 100%
        text-align: center
        // padding: 0 0 100px 0
    &__title
        // font-size: variables.$text_sz1
        font-size: max(2em, 3vw)
        color: variables.$third-color
        margin-bottom: 20px
        opacity: 0.9
    &__text
        @include paragraph

    &__btn
        @include button

// Slide imagens
.adoption__conatainer
    max-width: 1220px
    width: 100%
    // background-color: green
    padding: 100px

.adoption__content
    // local para espaço nos botoes de next e prev 
    margin: 0 50px
    overflow: hidden
    height: 100%
    padding: 50px 0
    
.swiper-pagination-bullet
    background-color: red
    opacity: 1

.card
    display: grid

.card_img
    grid-column: 1
    grid-row: 1/3
    width: 100%
    // align-self: flex-end


.card__content
    // overflow: hidden
    // grid-column: 1
    // grid-row: 2/3
    // height: 0
    background-color: rgba(81, 0, 0, 0.799)
    color: white
    // font-size: 20px
    transition: .3s ease-in
    align-self: flex-end

.card:hover .card__content
    // visibility: visible
    // height: 100%
    // padding: 10px
.swiper-pagination-bullets
    // background-color: red
.swiper-pagination-bullet-active
    background-color: black
