@use 'variables'
@import "container"
@import "button"
@import "paragraph"


.adoption
    width: 100%
    
    &__container
        // background-color: gray
        @include container
        // padding: 100px 20px
        display: flex
        // gap: 20px
        flex-direction: column
        align-items: center
        gap: 80px
        padding: 50px 20px
    &__header
        // background-color: tomato
        width: 100%
        text-align: center
        // padding: 0 0 100px 0
    &__title
        // font-size: variables.$text_sz1
        font-size: max(2em, 3vw)
        color: variables.$third-color
        margin-bottom: 20px
        opacity: 0.9
    &__text
        @include paragraph
    &__cards
        width: 100%
        display: flex
        overflow: auto
        gap: 20px
        padding: 0 60px
        .card
            flex: 1 0 250px
            overflow: hidden
            height: 400px
            display: grid
            cursor: pointer
            &__img
                grid-column: 1
                grid-row: 1/4
                align-self: flex-end
            &__description
                grid-column: 1
                grid-row: 1/4
                height: 0px
                align-self: flex-end
                background: rgba(81, 0, 0, 0.8)
                border-radius: 0px 0px 16px 16px
                color: variables.$color-ligth
                transition: .6s
                padding: 0px
            &:hover .card__description
                // grid-row: 1/4
                height: 200px
                display: block
                padding: 20px

            &__title
                text-align: center
                margin-bottom: 20px
            &__text
                line-height: 25px
    &__btn
         @include button