@use 'variables'
@import "container"

.banner
    // background-color: gray
    width: 100%
    background-color: variables.$first-color
    background-image: url(../img/banner-bg.png)

    &__container
        @include container
        padding: 40px 20px
    &__text
        text-align: center
        color: variables.$color-ligth
        font-size: variables.$text_sz3
        line-height: 51px