@use 'variables'
@import "container"
@import "button"

.home
    // background-color: gray
    margin: 120px 0px
    width: 100%

    &__container2
        // background-color: red
        @include container2
        gap: 10px
        padding: 40px 20px
    &__col:nth-child(1)
        // background-color: green
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-start
        gap: 15px
    &__col:nth-child(2)
        // background-color: blue
        display: flex
        align-items: center
        justify-content: flex-end
    &__img
        // background-color: blue
        // width: 200px
    &__title
        font-size: variables.$text_sz0
        line-height: 90px
        color: variables.$fourth-color
        opacity: 0.7
        font-family: Baloo2-bold
    &__text
        line-height: 38px
        color: variables.$fourth-color
        font-size: variables.$text_sz4
    &__btn
         @include button 