@use 'variables'

@media (max-width: 1020px)
    .home
        &__col:nth-child(1)
            // order: 2
        //     flex: 1 1 490px
        // &__col:nth-child(2)    
        //     flex: 1 1 490px

@media (max-width: 820px)
    .header
        &__container
            .logo
                &__title
                    display: none
        .navigation
            .menu
                display: none

@media (max-width: 720px)
    .home
        // background-color: gray
        &__container
            // background-color: tomato
            justify-content: center
        &__col:nth-child(1)
            // background-color: green
            padding: 20px 0 0 0
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            text-align: center
            line-height: 1.7em
        &__col:nth-child(2)
            // background-color: blue
        &__text
            margin-bottom: 1em
    // About
    .about
        // background-color: gray
        padding: 20px 0
        &__header
            // background-color: green
        &__img1
            // background-color: red
        &__container
            // background-color: red
            // padding: 10px
            justify-content: center
        &__col:nth-child(1)
            // background-color: green
            padding: 20px 0 0 0
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            text-align: center
    
    // adoption
    .adoption
        &__container
            // background-color: gray
            gap: 30px
        &__title
            margin-bottom: 0px

    
    
    // deposition
    .deposition
        &__container
            // background-color: gray
            gap: 20px
            padding: 0px 20px
        &__header
            // background-color: tomato
        &__title
            // background-color: green
        &__text
            // background-color: blue
        &__cards
            // background-color: blue
            padding: 20px 20px
    
    //question
    .question
        &__container
            // background-color: tomato
            gap: 10px
        &__title
            // text-align: center
        .cardP
            padding: 10px
        &__header

    // footer
    .footer
        &__container
            padding:30px 20px
        &__text
            text-align: center